:root {
  line-height: 1.5;
  font-weight: 400;
}

/* GLOBAL FONT + FULL RED BACKGROUND */
body {
  font-family: "Poppins", sans-serif;
  background-color: #9D0F00;
  color: white;
  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* (OPTIONAL) Light mode override if user's OS is light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #9D0F00; /* force red always */
    color: white;
  }
}
